/** Makes Menu Selected Bar Visible (don't remove)*/
#addtask-menu-point .menu-point-pre-bar {
    display: unset !important;
    opacity: 1 !important;
}

/*=================================================================*/

/*
    * generel container and content-wrap style
*/

#contentAddTask {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    background-color: #F6F8FC;
    position: relative;
}

header {
    position: absolute;
    left: 7.5%;
    top: 2rem;
}

h1, h5 {
    margin: 0
}

.inputContainer {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    height: 100px;
    margin: 0 10px;
    margin-bottom: 20px;
}

form {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.spaceBetween {
    justify-content: space-between;
    align-items: center;
}

/*
* assign to containers
*/

.taskImgCon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none !important;

}

/**render container*/
.assign-to-container {
    margin: 3px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: gray
}

.assign-to-container:hover {
    background: rgb(247, 247, 247)
}

.assign-to-container img {
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 3px white solid;
    padding: 2px;
}

.selected-assign-to-container img {
    border: 3px #102389 solid !important;
}

/*==== some changes to enable scrollable array ====*/
.assigendTo-wrapper {
    overflow-x: scroll;
    white-space: nowrap;

}



.assignedContainer {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    margin: 0 10px;
    margin-bottom: 20px;
    /*badly done, needs rework! */
    margin-top: 37px;
}



/*=================================================================*/

/*
 * input and labels styles
*/

label {
    font-weight: bold;
    color: #102389;
    margin-bottom: 5px;
}


input {
    border: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: 0 20px;

    outline: none;
    transition: all 0.1s ease-out;

    box-shadow: unset !important;
    border: 2px solid #ebebeb !important;
    height: 50px;
}


input::placeholder {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease-in-out;

}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    border: 2px solid #102389 !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
}

input::-webkit-calendar-picker-indicator {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

/*=================================================================*/

/*
    * selcect styles
*/

select {
    border: transparent;
    font-size: 18px;
    transition: all 0.1s ease-out;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px;
    outline: none;
    height: 50px;
    box-shadow: unset !important;
    border: 2px solid #ebebeb !important;


    min-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../assets/chevron .png") white no-repeat 98.5% !important;
    /* !important used for overriding all other customisations */
    background: url("../assets/chevron .png") white no-repeat calc(100% - 5px) !important;
    /* Better placement regardless of input width */
}

/*For IE*/
select::-ms-expand {
    display: none;
}

select:focus {
    border: 2px solid #102389 !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



select::placeholder {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease-in-out;

}

select:focus::placeholder {
    color: transparent;

}

select:hover {
    cursor: pointer;
}

/*=================================================================*/

/*
    * button styles
*/
button {
    height: 50px;
    min-width: 40%;
    padding: 8px;
    font-size: 20px;
    color: white;
    background-color: #102389;
    border-radius: 20px;
    border: none;
}


.buttonContainer {

    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    margin-top: 20px;


}

button:disabled {
    background-color: grey;
    color: white;
    cursor: unset;
}

/*=================================================================*/

/*
    * textarea style
*/


textarea {
    padding: 0 20px;
    border: transparent;
    font-size: 18px;
    transition: all 0.3s linear;
    font-family: 'PT Sans', sans-serif;
    outline: none;
    resize: none;
    box-shadow: none !important;
    padding: 13px 17px;
    border: 2px solid #ebebeb !important;
}




textarea:focus {
    border: 2px solid #102389 !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
}



textarea::placeholder {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease-in-out;

}

textarea:focus::placeholder {
    color: transparent;

}

/*=================================================================*/

/*
    * popUp style
*/


.pop-up-animation {
    background-color: #102389 !important;
    width: unset;
    height: unset;
    /*  border-radius: 2px;*/
}

.pop-up {
    position: absolute;
    z-index: 2;
    color: white;
    padding: 8px;
    border-radius: 2px;
    background-color: transparent;

    transition: all 0.5s ease-out;
    text-align: center;

    font-size: 18px;
}






/*=================================================================*/
/*=================================================================*/
/*=================================================================*/

/*
    * MEDIA QUERIES
*/



@media(max-width: 1100px) {
    .buttonContainer {
        min-width: 50%;
    }

    #contentAddTask {
        width: 95vw;
    }

    .inputContainer {
        max-width: 40%;
    }
}


@media(max-width: 720px) {

    header {
        top: 0;
    }

    .buttonContainer {
        min-width: 50%;
    }

    form {
        width: 100%;
        margin-left: 2.5%;
        top: -60px;
        padding: 0;
    }

    #contentAddTask {
        width: 95vw;
    }

    .inputContainer {
        max-width: 40%;
    }

    .assignedContainer {
        max-width: 40%;
    }
}

@media(max-width: 550px) {

    .mediaCol {
        flex-direction: column !important;
    }

    .inputContainer {
        min-width: 90%;
    }

    .assignedContainer {
        min-width: 90%;
    }

    form {
        height: 115vh !important;
        top: 100px;
        margin-top: 25%;
    }
}

@media(max-width: 550px) {
    form {
        margin-left: 0;
    }
}

@media(max-width: 350px) {
    #contentAddTask {
        width: 90vw;
    }

    form {

        margin-top: 35%;
    }
}