#contentAddTask{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif; 
    background-color: #F6F8FC;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    height: 150px;
    padding: 15px;
}

form{
    position: relative;
    width: 85%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(239 ,222, 238,0.6) !important;
}

.spaceBetween{
    justify-content: space-between;
    align-items: center;
}


/*=================================================================*/

/*
 * input and labels styles
*/

label{
    font-size: 25px;
    color: blue;
    padding-bottom: 8px;
    border-bottom:2px solid transparent;
    transition: all 0.3s linear;
    
}
input{
    border: none;  
    
    height: 69px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
   /* padding: 8px; */

    outline: none;
    transition: all 0.3s ease-out;
}



label:hover{
    border-bottom:2px solid blue;
}
input::placeholder{
    color: rgba(0 ,0, 0,0.8);
    transition: color 0.3s ease-in-out;
    
}

input:focus::placeholder{
    color: transparent;
    
}

input:hover{
    cursor:pointer;
}

input:focus{
    border: 2px solid blue !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
    cursor: pointer;
}
input::-webkit-calendar-picker-indicator{
    height: 50px;
    width: 50px;
    border-left:1px solid rgba(0 ,0, 0,0.8);
}

/*
 * selcect styles
*/

select {
    border: none;
    height: 69px;
    font-size:20px;
    transition: all 0.3s ease-out;
    font-family: 'PT Sans', sans-serif;
    
   
    min-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("../assets/chevron .png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../assets/chevron .png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
  }
  /*For IE*/
  select::-ms-expand { display: none; }

  select:focus{
    border: 2px solid blue !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
    cursor: pointer;
}



select::placeholder{
    color: rgba(0 ,0, 0,0.8);
    transition: color 0.3s ease-in-out;
    
}

select:focus::placeholder{
    color: transparent;
    
}

select:hover{
    cursor:pointer;
}

/*
    button styles
*/
button{
    height: 50px;
    width: 150px;
    padding: 8px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;
}


.buttonContainer{
    position: absolute;
    bottom: -3.5rem;
    right: auto;
    left: 25%;
    display: flex;
    justify-content: space-between;
    min-width: 40%;
}


/*
    textarea style
*/


textarea{

    border: none;  
    font-size: 20px;
    transition: all 0.3s linear;
    font-family: 'PT Sans', sans-serif;
}




textarea:focus{
    border: 2px solid blue !important;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px #fefefe, 10px 10px 8px 1px #010101;
    cursor: pointer;
}



textarea::placeholder{
    color: rgba(0 ,0, 0,0.8);
    transition: color 0.3s ease-in-out;
    
}

textarea:focus::placeholder{
    color: transparent;
    
}

textarea:hover{
    cursor:pointer;
}

@media(max-width: 1100px) {
    .buttonContainer{
        min-width: 50%;
    }
}

@media(max-width: 720px) {
    .buttonContainer{
        min-width: 50%;
    }

    form{
        width: 100%;
        margin-left: 2.5%;
        top: -60px;
    }

    #contentAddTask{
        width: 95vw;
    }
}

@media(max-width: 550px) {
    
   .mediaCol{
       flex-direction:column !important;
   }

   .inputContainer{
       min-width: 90%;
   }

   form{
       height: 115vh !important;
       top: 100px;
   }
}