/** Makes Menu Selected Bar Visible (don't remove)*/

#backlog-menu-point .menu-point-pre-bar {
    display: unset !important;
    opacity: 1 !important;
}

* {
    margin: 0;
}

#main-container {
    height: 100%;
    width: 100%;
    max-width: calc(100% - 100px);
    padding: 50px;
}

.box {
    margin: 20px 0;
    padding: 15px;
}

.legendBox {
    position: unset !important;
}


/**Categories header*/

#assigned-to-header {
    width: 263px;
}

#due-date-header {
    width: 200px;
}


/**Entries*/

.entry-container {
    position: relative;
    cursor: pointer;
    padding: 0;
    overflow-x: hidden;
}

.entry-container:hover {
    outline: 2px #00127F solid;
}

.entry-top-container {
    padding-right: 30px;
    padding: 10px 15px;
}

.expanded-entry-container {
    padding: 30px 30px 75px 30px;
    width: calc(100% - 60px);
    background: #00000008;
}

.expanded-category-container {
    width: 200px;
}

.entry-container h5 {
    margin: 0;
    color: black !important;
    opacity: 0.4;
}

.responsive-header {
    margin: 0;
    color: black;
    opacity: 0.4;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

.urgency-color {
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.assigned-to-container {
    width: 250px;
}

.assigned-to-image {
    height: 40px;
    border-radius: 50%;
    margin: 0 4px;
}

.assigned-to-details {
    word-break: break-all;
    justify-content: center;
    margin-right: 10px;
}

.assigned-to-name {
    margin-top: 3px;
    font-size: 13px;
}

.due-date-container {
    width: 200px;
}

.sub-top-container {
    display: flex;
    align-items: center;
}


/**Button Container*/

.entry-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.add-to-board-container {
    background: #1f329e;
    width: calc(85% - 20px);
    color: white;
    font-weight: bold;
    padding: 10px;
    z-index: 1;
}

.add-to-board-container:hover {
    background: #2337aa;
}

.delete-item-container {
    width: 15%;
    background: gray;
}

.delete-item-container img {
    height: 20px;
}

.delete-item-container:hover {
    background: rgb(138, 138, 138)
}

@media (max-width: 1000px) {
    #main-container {
        padding: 50px 20px;
        max-width: calc(100% - 40px)
    }
    .entry-container {
        flex-direction: column !important;
    }
    .entry-top-container {
        padding: 0 30px 10px 30px;
        flex-direction: column !important;
    }
    #header-container {
        display: none
    }
    .responsive-header {
        display: unset;
    }
    .assigned-to-image {
        margin-left: 0;
    }
    .assigned-to-container {
        margin-top: 10px;
    }
    .assigned-to-name {
        margin-bottom: 5px;
    }
    .due-date-container {
        min-width: 120px;
        width: 120px;
    }
    .expanded-category-container {
        min-width: 120px;
        width: 120px;
    }
}