/** Makes Menu Selected Bar Visible (don't remove)*/
#backlog-menu-point .menu-point-pre-bar{
    display: unset !important;
    opacity: 1 !important;
}

* {
    margin: 0
}

#main-container {
    height: 100%;
    width: 100%;
    max-width: calc(100% - 100px);
    padding: 50px;
}

.box {
    margin: 20px 0;
    padding: 15px;
}

h5 {
    margin-bottom: 40px;
}

/**Categories header*/
#assigned-to-header {
    flex: 0.3;
}

#due-date-header {
    flex: 0.15;
}

#details-header {
    flex: 0.55;
    margin-right: 30px;
}

.responsive-header {
    color: #102389;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

/**Entries*/
.entry-container {
    position: relative;
    overflow: auto;
    cursor: pointer;
    padding: 0;
    border: 2px #EBEBEB solid
}

.entry-container:hover {
    border: 2px #00127F solid
}

.entry-top-container {
    padding-right: 30px;
    padding: 15px;
}

.expanded-entry-container {
    padding: 30px 30px 75px 30px;
    width: calc(100% - 60px);
    background: #F6F6F6;
}

.expanded-category-container {
    width: 150px;
}

.expanded-entry-container h5 {
    margin: 0;
}
 
.urgency-color {
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.assigned-to-container {
    flex: 0.3;
}

.assigned-to-image {
    height: 50px;
    border-radius: 50%;
    margin: 0 8px;
}

.assigned-to-details {
    word-break: break-all;
    justify-content: center;
    margin-right: 10px;
}

.assigned-to-name {
    font-weight: 700;
}

.assigned-to-mail {
    color: #1f329e;
    font-size: 14px;
}

.category-container {
    display: flex;
    align-items: center;
    flex: 0.15
}

.details-container {
    flex: 0.55;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.add-to-board-container {
    background: #1f329e;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    z-index: 1;
}

.add-to-board-container:hover {
    background: #2d43c5;
}

@media (max-width: 1000px ){
    #main-container {
        padding: 50px 20px;
        max-width: calc(100% - 40px)
    }

    .entry-container {
        flex-direction: column !important;
        padding-left: 30px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }

    #header-container {
        display: none
    }

    .responsive-header {
        display: unset;
    }

    .assigned-to-image {
        margin-left: 0;
    }

    .assigned-to-container {
        margin-top: 10px;
    }

    .add-to-board-container {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 30px;
        display: flex !important
    }
}
