/** Makes Menu Selected Bar Visible (don't remove)*/

#board-menu-point .menu-point-pre-bar {
    display: unset !important;
    opacity: 1 !important;
}

.boardContainer {
    padding-top: 5vh;
    padding-bottom: 2vh;
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boardStatusBlock {
    width: 15vw;
    height: 75vh;
}

.dragItem {
    margin: 0 10px;
    margin-top: 10px;
    padding: 1em;
    word-wrap: break-word;
    cursor: pointer;
    border: 2px solid #ebebeb !important;
    background-color: #f6f6f6 !important;
    transition: border 225ms ease-in-out;
    box-shadow: unset !important
}

.dragItem:hover {
    filter: brightness(0.95);
    border: 2px solid #00127F !important;
    transition: all 225ms ease-in-out;
}

.dragAreaHighlight {
    background: #dadada2f !important;
}

@media (max-width:700px) {
    .boardContainer {
        padding-top: 120px;
        width: 95vw;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .boardStatusBlock {
        width: 75vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .dragItem {
        width: 15%;
        margin: 0.2em;
    }
}