/** Makes Menu Selected Bar Visible (don't remove)*/

#board-menu-point .menu-point-pre-bar {
    display: unset !important;
    opacity: 1 !important;
}

.boardContainer {
    padding-top: 5vh;
    padding-bottom: 2vh;
    width: 96vw;
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boardStatusBlock {
    width: 15vw;
    height: 75vh;
    padding-bottom: 1em;
}

.dragAreaHighlight {
    background: #dadada2f !important;
}

@media (max-width: 1000px) {
    .boardStatusBlock {
        width: 20vw;
    }
}

@media (max-width: 700px) {
    .boardContainer {
        width: 92vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .boardStatusBlock {
        width: 75vw;
        min-height: 20vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .dragItem {
        margin: 0.2em;
    }
    .boardImg {
        background: url(../assets/draggable-vertical.png) !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .boardUrgency {
        min-height: 100%;
        height: auto !important;
        min-width: 15px;
    }
    .boardText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
        padding-right: 1em;
    }
}

.boardUrgency {
    min-width: 15px;
    height: 100%;
}

.dragItem {
    margin: 0 10px;
    margin-top: 10px;
    word-wrap: break-word;
    cursor: pointer;
    border: 2px solid #ebebeb !important;
    transition: border 225ms ease-in-out;
    box-shadow: unset !important;
    display: flex;
    padding: 0;
    overflow: auto;
}

.dragItem:hover {
    filter: brightness(0.95);
    border: 2px solid #00127F !important;
    transition: all 225ms ease-in-out;
}

.boardImg {
    min-width: 40px;
    height: auto;
    background: url(../assets/draggable.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.3em;
}

.boardText {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    padding-right: 1em;
}

.textName {
    font-size: large;
    margin-bottom: 0.1em;
}

.textTitle {
    font-size: medium;
}