@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Body*/
body {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif; 
    background-color: #F6F8FC;
}

/**Urgencies*/
.urgency-high {
    background: orange
}

.urgency-middle {
    background: purple
}

.urgency-low {
    background: green
}

/**Category Colors*/
.category-color-design {
    background: lightgreen
}

.category-color-development {
    background: lightcoral
}

.category-color-managment {
    background: lightblue
}

.category-color-none {
    background: #F6F6F6
}


/** Hide */
.hide {
    display: none !important;
}

/**Flex*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*Main-Box*/
.box {
    background: white;
    border-radius: 20px;
    box-shadow: #EDEDED 0 10px 10px;
}

/**Headings*/
h3 {
    color: #00127F
} 

h5 {
    color: #102389;
}

/**Responsive*/
@media(max-width: 1000px) {
    body {
        flex-direction: column;
    }
}