body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

@media(max-width: 1000px) {
    body {
        flex-direction: column;
    }
}