#menu-push {
    width: 200px;
}

#menu-container {
    height: calc(100vh - 60px);
    background: #1E3190;
    width: 160px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    box-shadow: #EDEDED 10px 0 10px;
}

a {
    color: white;
}

#menu-logo {
    height: 71px;
    margin-bottom: 50px;
}

@media(max-width: 1000px) {
    #menu-container {
        height: 50px;
        padding: 20px;
        width: calc(100% - 40px);
        position: relative;
        justify-content: space-between;
        box-shadow: #EDEDED 0 10px 10px;
    }

    #menu-logo {
        height: 50px;
    }

    #menu-push {
        display: none;
    }
}