<head>
    <link rel="stylesheet" href="css/legend.css">
</head>

<div class="legendBox">

    <div class="box legendContainer">
        <section class="legendBtnSection">
            <button id="legendBtn" onclick="helpBtnClick()">Show Help</button>
        </section>
        <section id="legendTopSection" class="legend hide">

            <div class="fl-start width-auto">
                <div class="legendUrgency urgency-high legendItem">
                </div>
                <div class="legendText">
                    <div class="taskTop">
                        <div class="taskTopTitle">
                            <div>
                                <div class="textTitle"> High Urgency</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fl-start width-auto">
                <div class="legendUrgency urgency-middle legendItem">
                </div>
                <div class="legendText">
                    <div class="taskTop">
                        <div class="taskTopTitle">
                            <div>
                                <div class="textTitle"> Middle Urgency</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fl-start width-auto">
                <div class="legendUrgency urgency-low legendItem">
                </div>
                <div class="legendText">
                    <div class="taskTop">
                        <div class="taskTopTitle">
                            <div>
                                <div class="textTitle"> Low Urgency</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="legendBottomSection" class="legend hide">
            <div class="category-color-management legendCategoryItem">
                <div class="fl-start">
                    <div class="textTitle">Category: Management</div>
                </div>
            </div>

            <div class="category-color-development legendCategoryItem">
                <div class="fl-start">
                    <div class="textTitle">Category: Development </div>
                </div>
            </div>


            <div class="category-color-design legendCategoryItem">
                <div class="fl-start">
                    <div class="textTitle">Category: Design</div>
                </div>
            </div>

            <div class="category-color-none legendCategoryItem">
                <div class="fl-start">
                    <div class="textTitle">Category: None</div>
                </div>
            </div>



        </section>
    </div>
</div>