<link rel="stylesheet" href="../css/menu.css">
<link rel="stylesheet" href="../css/general.css">

<div id="menu-push"></div>
<div id="menu-container">
    <img src="../assets/logo.png" id="menu-logo">

    <a class="menu-point-container row" href="../index.html">
        <div class="menu-point-pre-bar hide"></div>
        <span>
            Board
        </span>
    </a>

    <a class="menu-point-container row" href="../backlog.html">
        <div class="menu-point-pre-bar hide"></div>
        <span>
            Backlog
        </span>
    </a>

    <a class="menu-point-container row" href="../addtask.html">
        <div class="menu-point-pre-bar hide"></div>
        <span>
            Add Task
        </span>
    </a>
</div>